.contacts__text-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #949494;
    padding-top: 172px;
}

.contacts__text-link:hover {
    opacity: .6;
    transition: .6s;
}