.form__input {
    width: 400px;
    height: 70px;
    border: none;
    background-color: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
}

.form__input_user {
    background-image: url('/images/ico/user-icon.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 10px center;
}

.form__input_phone {
    background-image: url('/images/ico/phone-icon.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 10px center;
}