.form__input {
    width: 400px;
    height: 70px;
    border: none;
    background-color: #f8f8f8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #949494;
    margin: 0;
}

.form__input:hover {
    box-shadow: 0 0 5px #949494;
}