.button {
    width: 300px;
    height: 66px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    color: #1B2944;
    background: #FFBB01;
    border: none;
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 6px;
}