.button_place_portfolio {
    width: 120px;
    height: 36px;
    text-transform: none;
    color: #ffffff;
    background: #ec1f46;
    box-shadow: 0px 4px 0px #ce1c3e;
    padding: 0;
    margin: 0;
}