.button_place_header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.button_place_header:hover {
    box-shadow: 0px 2px 0px #B68500;
    transform: translateY(2px);
}